@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@900&display=swap');

body {
    font-family: Overpass;
    font-size: 40px;
    color: rgb(172, 172, 172);
    background-color: rgb(75, 72, 69)
}

#status, #results {
    margin-left: 100px;
}


#displayFeedback {margin-left: 100px;}


span {
    font-size: 86px;
}



.scale-up-center {
	
	        animation: scale-up-center .5s ease-in ;
}



@keyframes scale-up-center {
  0% {

            transform: scale(0.8);
            opacity: 0.1;
  }
  100% {

            transform: scale(1);
            opacity: 1;
  }
}



