@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@900&display=swap');

body {
    font-family: Overpass;
    font-size: 40px;
    color: rgb(172, 172, 172);
    background-color: rgb(228, 219, 210)
}

#status, #results {
    margin-left: 100px;
}


#displayFeedback {margin-left: 100px;}


span {
    font-size: 42px;
}

.colored {
    color : blue;
}


.scale-up-center {
	
	        animation: scale-up-center .3s ease-in ;
}



@keyframes scale-up-center {
  0% {


            opacity: 0.4;
  }
  100% {


            opacity: 1;
  }
}

/*zeby spektrum dynamicznie wjezdalo*/


